-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => @order == 'title' ? "hilite" : ""}= link_to "Movie Title", root_path({orderby: "title"})
      %th{:class => @order == 'rating' ? "hilite" : ""}= link_to "Rating", root_path({orderby: "rating"})
      %th{:class => @order == 'release_date' ? "hilite" : ""}= link_to "Release Date", root_path({orderby: "release_date"})
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
